*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body{
  line-height: 1.2px;
}
.nav{
  background-color: aqua;
  padding: 10px 0;
}
.container{
  width: 1200px;
  padding: 0 10px;
  margin: auto;
}
.hero{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("https://kenh14cdn.com/2020/9/17/l5-16002833291381809098961.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}
.post{
  padding: 16px 0;
}
.post-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.card{
  border-radius: 5px;
  border: 1px solif red;
}
.card-info{
  padding: 20px;
}
.card-title{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}